body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1f2937;
}

.header {
    color: #f9faf8;
    font-size: 24px;
    font-weight: extra-bold;
    /*border: orange 5px solid;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px;
}

.main-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 48px;
    color: #f9faf8;

}

.main-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.randomInfo {
    background-color: white;
}

.randomInfo p {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    /*border: orange 5px solid;*/
}

.one {
    display: flex;
    flex: 1;

}

.two {
    /*border: blue 5px solid;*/
    display: flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
    margin: 0 10px;
}
.text{
    border: orange 5px solid;
    
}
a,
.secondary {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    min-width: 20px;
    max-width: 100px;
    justify-content: center;
}

.randomInfoGroup {
    display: flex;
    flex-direction: column;
}

.randomItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    border: green 5px solid;
}

.randomInfoGroup .randomItems .anItem {
    border: red 5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 200px;
    padding: 50px;
}

.anItem img {
    border: #3882f6 5px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.quoteArea {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}
.quoteArea quote{
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Thor {
    display: flex;
    font-weight: 800;
    font-size: 25px;
    font-style: normal;
    justify-content: end;
}



.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    color: #f9faf8;
    align-self: center;
}